# NetBeans specific #
private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

/plugins/TMARKERPluginInterface/tutorial/
/plugins/ColorDeconvolution/tutorial/
/plugins/CancerNucleusClassification/tutorial/
/plugins/SurvivalAnalysis/tutorial/
/plugins/SurvivalAnalysis/SurvivalTutorialData/
/plugins/SurvivalAnalysis/SurvivalTutorialData.zip
/plugins/IntensityClustering/tutorial/
/plugins/cish/tutorial/
/plugins/cish/matlab/
/plugins/cish/lib/
/plugins/cish/*.png
/plugins/cish/*.jpg

tmarker.conf
.DS_Store
Thumbs.db
*preview-application.html
/test_dataset/
/img/
/izpack/
/labeled_data/
/Leila/
/tutorial/
Classifier.tma
Datasets_TMARKER.lnk
/plugins/*.jar
Screenshot.jpg
/devlibs/
/Support/
DemonstrationData.zip
/plugins/IntensityClustering/build