/TMARKER/nbproject/private/
nbproject/private/private.properties
plugins/CancerNucleusClassification/nbproject/build-impl.xml
plugins/CancerNucleusClassification/nbproject/project.properties
/build/
plugins/CancerNucleusClassification/nbproject/genfiles.properties
nbproject/project.xml
plugins/CancerNucleusClassification/nbproject/project.xml
nbproject/private/private.xml
plugins/CancerNucleusClassification/nbproject/private/private.xml
nbproject/genfiles.properties
nbproject/private/
nbproject/project.properties
nbproject/build-impl.xml
plugins/CancerNucleusClassification/nbproject/private/private.properties
/dist/
/plugins/TMARKERPluginInterface/nbproject/private/
/plugins/TMARKERPluginInterface/build/
/plugins/TMARKERPluginInterface/dist/
/plugins/TMARKERPluginInterface/tutorial/
/plugins/ColorDeconvolution/dist/
/plugins/ColorDeconvolution/build/
/plugins/ColorDeconvolution/tutorial/
/plugins/CancerNucleusClassification/build/
/plugins/CancerNucleusClassification/dist/
/plugins/CancerNucleusClassification/tutorial/
/plugins/SurvivalAnalysis/build/
/plugins/SurvivalAnalysis/dist/
/plugins/SurvivalAnalysis/tutorial/
/plugins/SurvivalAnalysis/SurvivalTutorialData/
/plugins/SurvivalAnalysis/SurvivalTutorialData.zip
/plugins/IntensityClustering/build/
/plugins/IntensityClustering/dist/
/plugins/IntensityClustering/tutorial/
/plugins/cish/build/
/plugins/cish/dist/
/plugins/cish/tutorial/
/plugins/cish/matlab/
/plugins/cish/lib/
/plugins/cish/*.png
/plugins/cish/*.jpg
*private.xml
*project.xml
*build-impl.xml
*project.properties
*config.properties
*genfiles.properties
*jnlp-impl.xml
*master-application.jnlp
*JWS_generated.properties
*private.properties
tmarker.conf
*preview-application.html
/demonstration_dataset/
/test_dataset/
/DemonstrationData/
/img/
/izpack/
/labeled_data/
/Leila/
/Licenses/
/tutorial/
Classifier.tma
Datasets_TMARKER.lnk
/plugins/*.jar
Screenshot.jpg
/devlibs/
/Support/
/plugins/OpenBISConnector/nbproject/private/
/plugins/OpenBISConnector/build/
/plugins/OpenBISConnector/dist/